apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.jetstack.io
    targetRevision: v1.16.2
    chart: cert-manager
    helm:
      releaseName: cert-manager
      valueFiles:
        - $values/infra/argocd/cluster-addons/cert-manager/values.yaml
  sources:
    - repoURL: https://charts.jetstack.io
      targetRevision: v1.16.2
      chart: cert-manager
      helm:
        releaseName: cert-manager
        valueFiles:
          - $values/infra/argocd/cluster-addons/cert-manager/values.yaml
    - repoURL: https://github.com/VENKATESHWARAN-R/first-responder.git
      targetRevision: master
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
