apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    # Deploy after Gateway API CRDs
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  sources:
    - repoURL: oci://docker.io/envoyproxy
      targetRevision: v1.2.4
      chart: gateway-helm
      helm:
        releaseName: envoy-gateway
        valueFiles:
          - $values/infra/argocd/cluster-addons/envoy-gateway/values.yaml
    - repoURL: https://github.com/VENKATESHWARAN-R/first-responder.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: envoy-gateway-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
