[project]
name = "backend"
version = "0.1.0"
description = "Simple backend for microservice experiment"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi",
    "uvicorn[standard]",
]
